$GOLDEN_SECTION: 1.618;
$FITH: 1.5;
$MAJOR_SEVENTH: 1.875;
// Default font size.
// Don't change it ever!
$NLS_DEFAULT_FONT_SIZE: 16;

// Configurable variables.
// Ok... You can change these variables! :D
// I would encourage you **not to change them directly here**, though.
// It would be better to declare them in your `_variables.scss`, `_config.scss` or the like.

/// Base font size.
///
/// @type number
$nls-base-font-size: $NLS_DEFAULT_FONT_SIZE !default;

/// Base line height.
///
/// @type number
$nls-base-line-height: 1.6 !default;

/// Base unit (`px`, `em`, `rem`, `pxrem`).
///
/// @type string
$nls-base-unit: "pxrem" !default;

/// Scale factor.
///
/// @type number
$nls-scale-factor: $GOLDEN_SECTION !default;

/// Enables/disables **debug mode**.
///
/// Outputs background lines imitating a notebook's sheet.
///
/// @type boolean
$nls-debug-mode: false !default;


/// @type boolean
$nls-reset: false !default;
